%cp-layout-container {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: column;
    max-width: 90%;
    // padding: 0 3rem;
  }

  @include respond(phone) {
    max-width: 100%;
    // padding: 0 2rem;
  }
}

%cp-layout-col-1 {
  flex: 0 0 35%;
  margin-right: 2rem;
}

%cp-layout-col-2 {
  flex: 0 0 65%;
}

%d-flex--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Typography placeholders

%lg--copy {
  font-size: clamp(1.8rem, 2vw, 3.2rem);
}

%sm--copy {
  font-size: 1.4rem;
}

%tiny--copy {
  font-size: 1rem;
}

%lead--copy {
  font-size: 1.6rem;
  font-weight: 500;
}
