$colors: (
  very-light-yellow: #f7dc39,
  light-yellow: #e2c977,
  dark-yellow: #cf9a00,
  very-dark-yellow: #be8d00,
  very-whyte: #ffffff,
  color-dark-white: #f1f1f1,
  very-black: #000000,
  grey: #444444,
  light-grey: #cccccc,
  very-light-grey: #e6e6e6,
);

$fonts: (
  default-font: 1.6rem,
  primary-heading: 4.8rem,
  secondary-heading: 3.4rem,
  tertiary-heading: 2.4rem,
  primary-desc: 2.4rem,
  secondary-desc: 1.8rem,
  inline-link: 1.8rem,
);

$mvfonts: (
  mvprimary-heading: 4.2rem,
  mvsecondary-heading: 2.4rem,
  mvtertiary-heading: 2rem,
  mvprimary-desc: 2.2rem,
);

$gutters: (
  grid-width: 114rem,
  gutter-vertical: 6rem,
  gutter-vertical-small: 4rem,
  gutter-horizontal: 2rem,
);
