<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Su1trade | Sign up</title>
    <link href="css/main.css" type="text/css" rel="stylesheet" />

    <!-- Fav Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon-16x16.png"
    />
    <link rel="manifest" href="images/site.webmanifest" />
  </head>
  <body class="bg-white">
    <header class="header-nr">
      <div class="row no-flex">
        <nav class="nav-secondary">
          <div class="logo">
            <a href="index.html">
              <img src="images/su_LOGO_REAL.png" alt="logo" />
            </a>
          </div>

          <ul class="nav-menu__list">
            <li class="nav-menu__item">
              <a href="./about.html" class="nav-menu__link">About Us</a>
            </li>

            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link">Sign in</a>
            </li>
          </ul>

          <div class="mobile-nav-menu">
            <span class="line line--1"></span>
            <span class="line line--2"></span>
            <span class="line line--3"></span>

            <div class="mobile-nav-menu__overlay">&nbsp;</div>
          </div>
        </nav>
      </div>

      <ul class="mobile-nav-menu__list">
        <a href="#" class="mobile-nav-menu__link">BTC/NGN 4,952,998</a>
        <a href="./about.html" class="mobile-nav-menu__link">About Us</a>
        <a href="#" class="mobile-nav-menu__link">Exchange</a>
        <a href="#" class="mobile-nav-menu__link">Sign in</a>
        <a href="./signup.html" class="mobile-nav-menu__link">Sign up</a>
      </ul>
    </header>

    <section class="create-account">
      <form class="form" id="signup-form">
        <div class="form__caption">
          <h2 class="secondary-heading">Sign for Investment</h2>
          <p class="secondary-desc">Welcome to SU1Trade</p>
        </div>

        <div class="form__line">
          <span class="primary-desc">Sign Up</span>
        </div>

        <div class="form-group">
          <input
            type="text"
            name="fullname"
            id="fullname"
            placeholder=" "
            autocomplete="off"
            class="form-group__input"
            required
          />
          <label for="fullname" class="form-group__label">Full Name</label>
        </div>

        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            placeholder=" "
            autocomplete="off"
            class="form-group__input"
            required
          />
          <label for="email" class="form-group__label">Email</label>
        </div>

        <div class="form-group">
          <input
            type="number"
            name="phone"
            id="phone"
            placeholder=" "
            autocomplete="off"
            class="form-group__input"
            required
          />
          <label for="phone" class="form-group__label">Phone</label>
        </div>

        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder=" "
            autocomplete="off"
            class="form-group__input"
            required
          />
          <label for="password" class="form-group__label">Password</label>
        </div>

        <div class="form-group">
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder=" "
            autocomplete="off"
            class="form-group__input"
            required
          />
          <label for="confirm-password" class="form-group__label"
            >Confirm Password</label
          >
        </div>

        <div class="form-group d-flex">
          <input type="checkbox" class="form-group__checkbox" />
          <p class="secondary-desc">
            I have read and agree to the terms of service by
            <span class="accent">Su1trade Inc.</span>
          </p>
        </div>

        <button type="submit" class="btn btn--full mb2">Sign Up</button>

        <div class="form-group d-flex">
          <p class="secondary-desc">
            I already have an account?
            <span class="accent"
              ><a href="./signin.html" class="accent"> Signin</a></span
            >
          </p>
        </div>
      </form>
    </section>

    <!-- Footer starts here -->
    <footer class="footer">
      <div class="row">
        <div class="col-1-of-3">
          <img
            src="images/su_LOGO_REAL.png"
            alt="SU1Trade logo"
            class="footer__logo"
          />
          <p class="secondary-desc">
            &copy;2020 SU1Trade.com. All rights reserved
          </p>

          <div class="social-media">
            <a
              href="http://FACEBOOK.com/SU1TRADE"
              target="_blank"
              class="social-media__link"
            >
              <img src="images/Facebook icon.svg" alt="facebook icon" />
            </a>

            <a href="#" target="_blank" class="social-media__link">
              <img src="images/Twiiter icon.svg" alt="twiiter icon" />
            </a>

            <a
              href="http://T.me/SUcommunity"
              target="_blank"
              class="social-media__link"
            >
              <img src="images/Telegram icon.svg" alt="telegram icon" />
            </a>

            <a href="#" class="social-media__link">
              <img src="images/Instagram icon.svg" alt="instagram icon" />
            </a>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="footer__nav">
            <ul class="footer__list">
              <a href="./terms.html" class="footer__link">Terms of use </a>
              <a href="./license.html" class="footer__link">Legal License </a>
              <a href="./privacy.html" class="footer__link">Privacy policy </a>
              <a href="./security.html" class="footer__link">Security </a>
            </ul>

            <ul class="footer__list">
              <a href="#" class="footer__link"> Partners </a>
              <a href="./about.html" class="footer__link">About Us</a>
              <a href="#" class="footer__link">News </a>
              <!-- <a href="#" class="footer__link">Press Kit </a> -->
            </ul>
          </div>
        </div>
        <div class="col-1-of-3">
          <!-- <p class="secondary-desc"></p> -->
        </div>
      </div>
    </footer>
    <!-- Footer end here -->

    <!-- <script src="./js/index.js"></script> -->
    <script src="js/bundle.js"></script>
  </body>
</html>
