.exchange-price {
  max-width: 96rem;
  margin: 0 auto;
  box-shadow: 0px 10px 16px rgba(neutral-colors-setup(color-black), 0.08);
  padding: 2rem;

  &__section {
    padding: 10rem 0;
  }

  &__table {
    width: 100%;
  }

  // &__table-head {
  //   background-color: color(dark-whyte);
  // }

  // &__table-body {
  // }

  // &__table-row {
  //   padding: 1.2rem;
  // }

  &__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    figure {
      width: 32px;
      height: 32px;
      margin-right: 0.8rem;
    }
  }

  &__change {
    color: rgb(127, 212, 0);
  }

  &__change.error {
    color: rgb(230, 0, 0);
  }

  td {
    padding: 1.2rem;
    &:last-child {
      text-align: center;
    }
  }
}

.payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__section {
    padding: 5rem 0 10rem;
  }

  &__details {
    flex: 0 0 50%;
    padding: 0 2.8rem;

    @include respond(tab-port) {
      max-width: 80rem;
      margin-bottom: 3.2rem;
      text-align: center;
    }

    h2 {
      margin-bottom: 1.6rem;
    }
  }

  &__img {
    flex: 0 0 50%;
    margin-left: 2.4rem;
  }
}

.exc-features {
  &__section {
    padding: 5rem 0 10rem;
  }

  &__caption {
    max-width: 58rem;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      text-align: center;
    }

    h2 {
      margin-bottom: 1.6rem;
    }
  }

  &__details {
    padding-right: 2.4rem;

    @include respond(tab-port) {
      text-align: center;
      padding-right: 0;
    }
  }

  &__details > * {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.fav-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__section {
    padding: 10rem 0 10rem;
  }

  &__details {
    flex: 0 0 50%;
    padding-right: 12rem;

    @include respond(tab-port) {
      max-width: 80rem;
      padding-right: 0;
      text-align: center;
    }
  }

  &__details > * {
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__img {
    flex: 0 0 50%;
    margin-right: 12rem;
    text-align: right;

    @include respond(tab-port) {
      padding: 2.4rem;
      margin-right: 0;
      margin-bottom: 6rem;
      text-align: center;
    }
  }
}

.exchange-is-easy {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__section {
    // background-color: color(very-light-grey);
    padding: 10rem 0;
  }

  &__details {
    flex: 0 0 50%;
    padding-right: 20rem;

    @include respond(tab-port) {
      max-width: 80rem;
      padding-right: 0;
      margin-bottom: 6rem;
      text-align: center;
    }
  }

  &__details > * {
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__form {
    flex: 0 0 50%;
    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__form > * {
    @include respond(tab-port) {
      width: 80% !important;
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  input {
    width: 60%;
    border: 1.6px solid #e6e6e6;
    // border-radius: 0.5rem;
    background: none;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #888;
    outline: none;

    &:focus {
      border: 1.6px solid primary-colors-setup(primary-color-base-dark);
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #cfcfcf;
      font-size: 1.2rem;
    }
  }
}
