.our-focus {
  &__section {
    background-color: neutral-colors-setup(color-black);
  }
  &__grid {
    // @include grid(2, 10%);
    margin-top: 6rem;
    padding: 2.4rem;

    @include respond(tab-port) {
      margin-top: 1.2rem;
      padding: 0;
      text-align: center;
    }

    & > * {
      color: neutral-colors-setup(color-white) !important;
    }
  }
}

.how-it-works {
  &--section {
    background-color: neutral-colors-setup(color-black);
  }

  &--caption {
    max-width: 58.5rem;
    margin: 0 auto 6rem;
    text-align: center;

    h2,
    h3 {
      color: primary-colors-setup(primary-color-base-dark);
    }

    h3 {
      margin-bottom: 4.8rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 1.2rem;
    }

    p {
      color: neutral-colors-setup(color-white);
    }
  }

  &--investment-type {
    text-align: center;
    padding: 0 10rem;

    @include respond(tab-land) {
      padding: 0 4rem;
    }

    @include respond(tab-port) {
      padding: 0 6rem;
      margin-bottom: 6rem;
    }

    @include respond(phone) {
      padding: 0 2rem;
    }

    @include respond(xs-phone) {
      padding: 0;
    }

    h2 {
      color: neutral-colors-setup(color-white);
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 2.4rem;
    }

    p {
      color: neutral-colors-setup(color-white);
      margin-bottom: 1.6rem;
      line-height: 140%;

      &:last-of-type {
        margin-bottom: 4.8rem;
      }
    }

    button.btn--text {
      color: neutral-colors-setup(color-white);
      display: block;
      width: fit-content;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0 auto;
      position: relative;
    }

    button.btn--text::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.3rem;
      position: absolute;
      bottom: -0.8rem;
      border-radius: 0.8rem;
      background-color: primary-colors-setup(primary-color-base-dark);
    }
  }
}

.social-proof {
  &--section {
    background-color: neutral-colors-setup(color-black);
    padding: 12rem 0;

    @include respond(tab-port) {
      text-align: center;
      padding: 6rem 0;
    }

    p .large,
    p .medium,
    p .small {
      display: block;
      width: max-content;
      line-height: 130%;

      @include respond(tab-port) {
        margin: 0 auto;
      }
    }

    p {
      color: neutral-colors-setup(color-white);

      .large {
        font-size: 12.4rem;
        font-weight: 500;
        color: primary-colors-setup(primary-color-base-dark);

        @include respond(tab-land) {
          font-size: 9.6rem;
        }

        @include respond(phone) {
          font-size: 7.2rem;
        }

        @include respond(sm-phone) {
          font-size: 5.6rem;
        }

        @include respond(xs-phone) {
          font-size: 4.8rem;
        }
      }

      .medium {
        font-size: 6.4rem;
        margin-top: -1.6rem;
        color: primary-colors-setup(primary-color-base-dark);
        font-weight: 500;

        @include respond(tab-land) {
          font-size: 5.4rem;
        }

        @include respond(phone) {
          font-size: 4.8rem;
        }

        @include respond(sm-phone) {
          font-size: 3.6rem;
        }

        @include respond(xs-phone) {
          font-size: 3rem;
        }
      }

      .small {
        font-size: 3.8rem;
        font-weight: 500;

        @include respond(phone) {
          font-size: 2.8rem;
        }

        @include respond(sm-phone) {
          font-size: 2.4rem;
        }

        @include respond(xs-phone) {
          font-size: 2.2rem;
        }
      }
    }

    figure {
      margin-top: 1.2rem;
      margin-left: -4.8rem;

      @include respond(tab-port) {
        margin-top: 4.8rem;
        margin-left: 0;
      }

      @include respond(xs-phone) {
        // margin-top: 2.4rem;
        margin-left: 0;
      }
    }
  }
}

.benefits {
  &--section {
    background-color: neutral-colors-setup(color-black);

    h2 {
      max-width: 70rem;
      margin: 0 auto 6rem;
      text-align: center;
      color: primary-colors-setup(primary-color-base-dark);

      @include respond(tab-port) {
        margin: 0 auto 2.4rem;
      }
    }
  }

  &--benefit {
    padding-right: 8rem;

    @include respond(tab-port) {
      text-align: center;
      padding-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 6rem;
    }

    h3 {
      color: primary-colors-setup(primary-color-base-dark);
      margin-bottom: 2.4rem;
    }

    p {
      color: neutral-colors-setup(color-white);
    }
  }
}

.cta {
  &--section-2 {
    background-color: neutral-colors-setup(color-black);
  }

  &--copy-2 {
    h2 {
      font-size: 4.8rem;
      color: neutral-colors-setup(color-white);

      @include respond(sm-phone) {
        font-size: 3.6rem;
      }

      @include respond(xs-phone) {
        font-size: 3.2rem;
      }
    }

    p {
      color: primary-colors-setup(primary-color-base-dark);
    }
  }

  &--btn-2 {
    padding-top: 3.8rem;

    @include respond(phone) {
      padding-top: 0;
    }
  }
}

.FAQs {
  &__section {
    padding: 10rem 0;
    background-color: neutral-colors-setup(color-black);

    @include respond(tab-port) {
      padding: 8rem 0;
    }
  }

  &__caption {
    text-align: center;
    color: primary-colors-setup(primary-color-base-dark);
  }

  &__accordion {
    max-width: 70rem;
    margin: 0 auto 4rem;
    // transition: display 5s;

    &:first-child {
      margin-top: 10rem;

      @include respond(tab-port) {
        margin-top: 5rem;
      }
    }
  }

  &__question {
    display: block;
    // background-color: color(very-light-grey);
    // border-radius: 0.3rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    border: 1px solid #c4c4c4;
    color: neutral-colors-setup(color-white);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: color(light-grey);
    }

    &--active {
      background-color: color(light-grey);
    }
  }

  &__answer {
    display: none;
    margin-top: 1rem;
    line-height: 1.6;
    padding: 2rem;

    color: neutral-colors-setup(color-white);
    // border-radius: 0.3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    // &--active {
    //   display: block;
    // }
  }

  &__question--active + &__answer {
    display: block;
    max-height: fit-content;
    transition: max-height 0.2s ease-out;
  }
}

.telegram-community {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__section {
    padding: 10rem 0;
    background-color: neutral-colors-setup(color-black);
  }

  &__cta {
    margin-right: 10rem;

    @include respond(tab-port) {
      order: 1;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__desc {
    flex: 0 0 50%;
    padding: 0 4rem;

    @include respond(tab-port) {
      text-align: center;
      margin-bottom: 2rem;
      width: 100%;
      padding: 0;
    }
    p {
      font-size: 4.2rem;
      line-height: 1.3;
      color: neutral-colors-setup(color-white);

      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
  }
}

// [class=$"section"] {
//   @include respond(tab-port) {
//     padding: 5rem 0;
//   }
// }
