footer.footer
  .row
    .col-1-of-3
      img.footer__logo(src="assets/su1trade_logo.png", alt="Brand logo")
      p ©2020 SU1Trade.com. All rights reserved
      .social-media
        a.social-media__link(href="http://FACEBOOK.com/SU1TRADE", target="_blank")
          img(src="assets/Facebook icon.svg", alt="Facebook icon")
          |  
        a.social-media__link(href="#", target="_blank")
          img(src="assets/Twiiter icon.svg", alt="Twitter icon")
          |  
        a.social-media__link(href="http://T.me/SUcommunity", target="_blank")
          img(src="assets/Telegram icon.svg", alt="Telegram icon")
          |  
        a.social-media__link(href="#")
          img(src="assets/Instagram icon.svg", alt="Instagram icon")
    .col-1-of-3
      .footer__nav
        ul.footer__list
          a.footer__link(href="/terms") Terms of use 
          a.footer__link(href="/license") Legal License 
          a.footer__link(href="/privacy") Privacy policy 
          a.footer__link(href="/security") Security
        ul.footer__list
          a.footer__link(href="/partners") Partners 
          a.footer__link(href="/about") About Us
          a.footer__link(href="#") News
    .col-1-of-3