extends base

block head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  meta(http-equiv="Content-Security-Policy", content="default-src gap://ready file://* *; style-src \'self\' http://* https://* \'unsafe-inline\'; script-src \'self\' http://* https://* \'unsafe-inline\' \'unsafe-eval\'")
  title SU1trade - #{title}
  link(href="css/main.css", rel="stylesheet")
  link(rel="apple-touch-icon", sizes="180x180", href="assets/favicon_io/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="assets/favicon_io/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="assets/favicon_io/favicon-16x16.png")
  link(rel="manifest", href="assets/favicon_io/site.webmanifest")
  script(src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js")

block navigation
  nav
    .row
      .nav.nav--bar.nav--main
        figure.logo
          a(href="/")
            img(src="assets/su1trade_logo.png", alt="brand logo")
        ul(data--js="menu--panel")
          li.active(data--js="menu--item")
            a.active(data--js="menu--link", href="/about") About us
          li(data--js="menu--item")
            a(data--js="menu--link", href="#") Learn
          li(data--js="menu--item")
            a(data--js="menu--link", href="/invest") Invest
          li(data--js="menu--item")
            a(data--js="menu--link", href="/exchange") Exchange
          li(data--js="menu--item")
            a(data--js="menu--link", href="/login") Sign in
          li(data--js="menu--item")
            a(data--js="menu--link", href="/signup") Sign up
        menu.icon.icon--small(data--js="mobile--menu")
          svg
            use(href="assets/sprite.svg#menu-alt")

block content
  header.header--about
    canvas#canvas
    .header--about__text-box.header--about__text-box--2
      .row
        h1 About Us
        p.lg--copy.
          
          SU1trade is a global e-business education and financial investment brand that leverages on the speed of the internet and the power of the global financial market (GFM), to create financial freedom.
          
  nav.nav--secondary
    .row
      ul.nav--secondary__list
        li.nav--secondary__item.disabled-bg
          a.nav--secondary__link.pdl0(href="#")
            b Connect
        li.nav--secondary__item
          a.nav--secondary__link(href="#mission") Mission
        li.nav--secondary__item
          a.nav--secondary__link(href="#team") Our Team
        li.nav--secondary__item
          a.nav--secondary__link(href="./partners.html") Partners
        li.nav--secondary__item
          a.nav--secondary__link(href="#contact-us") Contact Us
  main
    section.about-us__section
      .about-us.about-us__row#mission
        .about-us__title
          h2.secondary-heading Our Mission
        .about-us__desc
          p.secondary-desc.
            
            To help millions of peope all over the world create wealth, with the speed of the internet by leveraging on the power of the global financial market (GFM).
            
          p.secondary-desc.
            
            We believe that decentralised cryptocurrencies, like Bitcoin, Ethereum etc.. will revolutionise the way the world views, and uses money.
            
          p.secondary-desc.
            
            We are part of pioneering a new financial system being built in real time, and we believe that this new global system will accelerate humanity for generations to come.
            
          p.secondary-desc.
            
            As early innovators in this industry, we feel it’s our duty to bring this knowledge and excitement to the world.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Our Focus
        .about-us__desc
          p.secondary-desc
            strong Our focused businesses are
          h3.tertiary-heading E-commerce
          p.secondary-desc.
            
            We help you to start your own e-commerce (Drop shipping, mini import and affiliate marketing) business. With this you can invest and earn salary for life.
            
          h3.tertiary-heading Cryptocurrency
          p.secondary-desc.
            
            SU1trade exchange is a semi-automatic platform which sells, buys and exchanges crypto ‘currency’ units online. Fee is moderate. We are always open to negotiations. Our customers positive reviews confirm the lowest exchange rate and high quality of our work.
            
          h3.tertiary-heading E-Trading
          p.secondary-desc.
            
            We educate on forex, oil, metals, commodities and trading in the global financial market (GFM). We link you to professional traders that can manage your account for you. You earn 28% on your investment monthly on our Funds Management Program or 17% every month for five(5) months on our Lending Investment Program.
            
          p.secondary-desc.
            
            You can earn and learn with SU1trade focused businesses, Which is the ultimate vehicle that will bring you financial freedom, respect, dignity, and the power to change your life.
            
      .about-us__row#team
        .about-us__title
          h2.secondary-heading Our Team
        .about-us__desc
          p.secondary-desc.
            
            Here is the team behind SU1trade. You can contact is on our social media channel. We’d love to chat with you.
            
          h2.secondary-heading MEET SU1trade TEAM
          .our-team__fig
            .our-team
              figure
                .figinfo
                  h3.tertiary-heading Sherif Ogehie
                  p.secondary-desc CEO & Founder
                .figphoto
                  img(src="assets/sherif-ogerie-00.png", alt="Photo of Sherif Ogehie")
              figure
                .figinfo
                  h3.tertiary-heading Promise Mbagwu
                  p.secondary-desc Social Media Manager
                .figphoto
                  img(src="assets/promise-mbagwu-00.png", alt="Photo of Promise Mbagwu")
      .about-us__row#contact-us
        .about-us__title
          h2.secondary-heading Contact Us
        .about-us__desc
          h2.secondary-heading
            | Contact us for
            br
            | one-on-one help?

          .about-us__btn
            a(href="#contact-number")
              button.btn--primary.btn--medium.
                
                Contact Us for one-on-one help
                
          h2.secondary-heading Customer Service
          p.secondary-desc.
            
            Contact our customer service. We’re here to help.
            
          p.secondary-desc.
            
            Email sherif@su1trade.com or click the yellow button below.
            
          .about-us__btn
            a(href="mailto:sherif@su1trade.com?subject=I need help on how to Investment")
              button.btn--primary.btn--medium.
                
                Email Support
                
    section.location
      .our-location
        .our-location__map#map
        .our-location__address
          h2.secondary-heading  
          .our-location__shedule-visit
            a.secondary-desc(href="#") Shedule A Visit
            span.arrow  
          h3.tertiary-heading Address
          p.secondary-desc.
            
            Arizona complex, No.6 Location Road Oyigbo, River state, Nigeria. Close to Access diamond bank.
            
          h3#contact-number.tertiary-heading Phone
          p.secondary-desc.mb0 +234 708 896 1166
          p.secondary-desc +234 905 499 7620
          h3.tertiary-heading Email
          p.secondary-desc sherif@su1trade.com
  script.
    
     mapboxgl.accessToken =
            "pk.eyJ1Ijoid2hpdGVnb2QiLCJhIjoiY2s5Y3Q5bm52MDdsOTNobzhvenp6MnNsdCJ9.vc6KagoZn4bn0JtaLazS7g";
          const map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/streets-v11",
            center: [7.150660505501719, 4.869074610358993],
            zoom: 10,
            interactive: false,
          });
    
          map.scrollZoom.disable();
    
          // const marker = new mapboxgl.Marker().setLngLat([7.150660505501719,4.869074610358993]).addTo(map);
    