doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    //- meta(http-equiv="Content-Security-Policy", content="default-src 'self' https://placeholder.com; img-src 'self' data:")
    title SU1trade - #{title}
    //  Fav Icons 
    link(rel="apple-touch-icon", sizes="180x180", href="../assets/favicon_io/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="../assets/favicon_io/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="../assets/favicon_io/favicon-16x16.png")
    link(rel="manifest", href="../assets/favicon_io/site.webmanifest")
    link(href="../css/main.css", type="text/css", rel="stylesheet")
  body.dashboardv2
    //  preloader 
    .loader-container
      .loader.three-d-spinner
        .inner
        .inner
        .inner
    nav#nav--dashboardv2
      .row
        .nav.nav--dashboardv2
          menu.icon.icon--small(data--js="mobile--menuv2")
            svg
              use(href="../assets/sprite.svg#menu-alt-2")
          figure.nav--dashboard__logo.logo
            img(src="../assets/su1trade_logo.png", alt="Brand logo")
          menu.icon.icon--small(data--js="mobile--menuv22")
            svg
              use(href="../assets/sprite.svg#notification-bell")
    main.main--dashboardv2
      .main--dashboardv2__sidebar
        ul(data--js="menu--panelv2")
          a(href="/user/dashboard")
            li.active(data--js="menu--itemv2")
              svg
                use(href="../assets/sprite.svg#ion_layers-outline")
              span Invest
          a(href="https://wa.me/message/JIJYS42CTYW5B1")
            li(data--js="menu--itemv2")
              svg
                use(href="../assets/sprite.svg#ion_chatbubbles-outline")
              span Chat
          a(href="/about")
            li(data--js="menu--itemv2")
              svg
                use(href="../assets/sprite.svg#ion_person-circle-outline")
              span About
          a(href="#")
            li#logout--btn(data--js="menu--itemv2")
              svg
                use(href="../assets/sprite.svg#ion_log-out-outline")
              span Logout
      .main--dashboardv2__main.no-white
        .main--dashboardv2__intro
          .main--dashboardv2__user
            figure
              a(href="") 
                img(src="https://via.placeholder.com/150" alt="User avatar")
            .main--dashboardv2__greeting
              h3 Hello, #{user.fullname.split(" ")[0]}!
              p Welcome to your su1trade account.
        .main--dashboardv2__flex-card
          .main--dashboardv2__active-in
            h3 Active Investments
            p You do not have any active investments
          .main--dashboardv2__investment-card
            figure
              img(src="../assets/Wallet_Monochromatic 1.png", alt="Lending Investment illustration")
            .main--dashboardv2__investment-details
              h3 Lending Investment
              p Make 17% return on investment every month for 5months.
              a(href="/user/lend")
                button Start Now
          .main--dashboardv2__investment-card
            figure
              img(src="../assets/Bitcoin _Monochromatic 1.png", alt="Bitcoin Monochromatic illustration")
            .main--dashboardv2__investment-details
              h3 Funds Management
              p.

                Invest & earn minimum of 28% or more your investment monthly.

              a(href="/user/management")
                button Start Now
        .main--dashboardv2__notification
          h3 Notifications
          .main--dashboardv2__flex-card
            .main--dashboardv2__tutorial
              h4 How to create a Deriv real account.
              iframe(src="https://www.youtube.com/embed/FQ5ct91pFw0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            .main--dashboardv2__notifications
              h4 System Updates
              .main--dashboardv2__notification-card
                span
                  svg
                    use(href="../assets/sprite.svg#ion_mail-outline")
                p.

                  All transactions on SU1trade platform is done manually on our WhatsApp Channel as we are currently developing the platform to serve you better.

              .main--dashboardv2__notification-card
                span
                  svg
                    use(href="../assets/sprite.svg#ion_mail-outline")
                p.

                  You are adviced to contact our customer service to continue Investment.

              .main--dashboardv2__notification-card
                span
                  svg
                    use(href="../assets/sprite.svg#ion_mail-outline")
                p
                  | SU1trade official contact number

                  strong +234 708 896 1166
    script(src="../js/build.js")