doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Security-Policy", content="default-src *; img-src * \'self\' data: https:; script-src \'self\' \'unsafe-inline\' \'unsafe-eval\' *; style-src \'self\' \'unsafe-inline\' *")
    title SU1trade - #{title}
    link(href="../css/main.css", type="text/css", rel="stylesheet")
    //  Fav Icons 
    link(rel="apple-touch-icon", sizes="180x180", href="../assets/favicon_io/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="../assets/favicon_io/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="../assets/favicon_io/favicon-16x16.png")
    link(rel="manifest", href="../assets/favicon_io/site.webmanifest")
  body.dashboard--body
    //  preloader 
    .loader-container
      .loader.three-d-spinner
        .inner
        .inner
        .inner
    //  Navigation 
    nav#nav--dashboard
      .row
        .nav.nav--dashboard
          figure.nav--dashboard__logo.logo
            img(src="../assets/su1trade_logo.png", alt="Brand logo")
          ul.nav--dashboard__list(data--js="menu--panel")
            li.nav--dashboard__item
              span.nav--dashboard__user-name.capitalized.capitalized--lite=user.fullname.split(' ')[0]
            li.nav--dashboard__item
              figure.nav--dashboard__avatar
                a(href="https://placeholder.com/")
                  img(src="https://via.placeholder.com/65.png?text=User", alt="User photo")
            li.nav--dashboard__item
              button.btn--primary.btn--ripple.btn--small.capitalized.capitalized--lite#logout--btn(href="#").
                
                Logout
                
          menu.icon.icon--small(data--js="mobile--menu")
            svg
              use(href="../assets/sprite.svg#menu-alt")
    //  Main  
    main
      .wrapper
        h2 Welcome to your SU1trade account dashboard!
        .notification-bar
          p.
            
            You need a deriv DMT5 account for FUNDS MANAGEMENT investment plan.
            
          a(href="https://track.deriv.com/_NBBuvzxp2yG2vdm9PpHVCmNd7ZgqdRLk/1/", target="_blank")
            button.btn--primary.btn--ripple.dashboard--btn.
              
              Create account
              
        .investment-plans
          .investment-plan__plan
            .investment-plan__details
              img(src="../assets/lending-investment-icon.svg", alt="Lending money icon")
              .investment-plan__text
                h3 Lending Investment
                p.
                  
                  This plan is best suitable for individual who are looking for profitable ROI for a period of time.
                p
                p.
                  
                  With this plan, you earn 17% of your investment every monthly for five (5) months. And on the sixth month, 70% of your investment capital is refunded to you and contract terminated or you renew contract.
                p
            .investment-plan__meta
              ul
                li
                  span.pair Profits
                  span.value 17%
                li
                  span.pair Duration
                  span.value 5months
                li
                  span.pair Minimum amount
                  span.value $200
                li
                  span.pair Commission
                  span.value No Commission
            .investment-plan__btn
              button.btn--primary.btn--ripple(data--js="open--modal") Start Now
          .investment-plan__plan
            .investment-plan__details
              img(src="../assets/funds-management-icon.svg", alt="Lending money icon")
              .investment-plan__text
                h3 Funds Management
                p.
                  
                  With our Funds Management Plans, SU1trade provides you with experts to manage your Investment. Here, we help you do the heavy work and provide you with real-time progress of your Investment very step of the way..
                p
                p.
                  
                  You have 100% control over your investment with monthly earnings of 28% percent or more.
                p
            .investment-plan__meta
              ul
                li
                  span.pair Profits
                  span.value 28%
                li
                  span.pair Duration
                  span.value Minimum variable
                li
                  span.pair Minimum amount
                  span.value $1000
                li
                  span.pair Commission
                  span.value 35%
            .investment-plan__btn
              button.btn--primary.btn--ripple(data--js="open--modal") Start Now
        .info
          ul
            li
              img(src="../assets/ion_checkmark-outline.svg", alt="Check icon")
              span
                | All transactions on SU1trade platform is done manually on our

                strong  WhatsApp Channel
                |  as we are currently developing the platform to serve you better.
            li
              img(src="../assets/ion_checkmark-outline.svg", alt="Check icon")
              span Please you are adviced to contact our customer service to continue Investment.
            li
              img(src="../assets/ion_checkmark-outline.svg", alt="Check icon")
              span
                | SU1trade official contact number

                strong +234 708 896 1166
                |  or 
                strong +234 905 499 7620
        .cta
          a(href="https://wa.me/message/JIJYS42CTYW5B1", target="_blank")
            button.btn--primary.btn--ripple.dashboard--btn.
              
              Chat on Whatsapp
              
          a(href="http://T.me/SUcommunity", target="_blank")
            button.btn--primary.btn--ripple.dashboard--btn.
              
              Join Telegram
              
        a.accent--dark(href="./about.html") Learn more about us
    //  modal starts here 
    .container.backdrop
      //
        <div class="modal__container">
                  <div class="modal__content">
                    <span><img src="images/close-dark.svg" alt="close dark icon" /></span>
                    <h2 class="secondary-heading">This is a modal heading 2</h2>
                    <p class="secondary-desc">This is a modal</p>
                    <button class="btn">Modal button</button>
                  </div>
                </div> 
      .modal__popup.popup-dark
        .modal__content
          span
            img(src="../assets/close.svg", alt="close dark icon")
          h2.secondary-heading Congrats!
          p.secondary-desc.
            
            Thank you for your interest in Investing in the global financial market (GFM). We'll contact you on how to begin investment in less than 24hrs.
            
          //
            <div class="modal__img">
                          <img src="images/logo.png" alt="Deriv" />
                        </div> 
          p.secondary-desc Click button to send us an email
          a(href="mailto:sherif@su1trade.com?subject=How do I start investing", target="_blank")
            button.btn--primary.btn--ripple Send Email
      .modal__overlay  
    //  modal ends here 
    script(src="../js/build.js")