extends base

block content
  section.create-account
    form.form#forgot-password-form
      .form__caption
        h2.secondary-heading Reset Password
      .form__line
        span.primary-desc Enter email to reset password
      .form-group
        input#email.form-group__input(type="email", name="email", placeholder=" ", autocomplete="off", required)
        |  
        label.form-group__label(for="email") Email
      .form-group.d-flex
        button.btn--primary.btn--ripple.btn--full-width.btn--medium.btn--reset.mb2(type="submit") Send Reset Password
      .form-group.d-flex
        p.secondary-desc
          | Still got Trouble? 
          span.accent
            a.accent(href="mailto:sherif@su1trade.com") Contact Support
