extends base 

block content
  header.header--home
    .row
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .hero--box
              h1(data--js="typewriter").

                Invest, Buy and Sell Crptocurrencies, Learn Forex Trading & E-commerce.

              p Your financial freedom is our goal.
              a(href="/signup")
                button.btn--primary.btn--ripple.btn--large.uti-neg-mt.

                  Invest Now

          .swiper-slide
            .hero--box
              h1(data--js="typewriter").

                Invest and earn 17% profit every month for 5months.

              p Your financial freedom is our goal.
              a(href="/signup")
                button.btn--primary.btn--ripple.btn--large.

                  Invest Now

          .swiper-slide
            .hero--box
              h1(data--js="typewriter").

                Invest and get minimum of 28% or more monthly.

              p Your financial freedom is our goal.
              a(href="/signup")
                button.btn--primary.btn--ripple.btn--large.

                  Invest Now

        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
  section.empirical-data-section
    .row
      .col-1-of-3.slide-up.active
        .empirical-data
          .empirical-data__icon.icon.icon--large
            img(src="assets/person-group-icon.svg", alt="Person group icon")
          .empirical-data__data
            h3 SU1trade Customers
            p 1000+ Customers
      .col-1-of-3.slide-up.active
        .empirical-data
          .empirical-data__icon.icon.icon--large
            img(src="assets/wallet-icon.svg", alt="Wallet icons")
          .empirical-data__data
            h3 Profit Withdrawal
            p Over 20k+
      .col-1-of-3.slide-up.active
        .empirical-data
          .empirical-data__icon.icon.icon--large
            img(src="assets/stats-icon.svg", alt="Stats icon")
          .empirical-data__data
            h3 Investment so far
            p Over 40k+
  section.services--section
    .row
      h2 Everything you need to invest in your future has never been easier.
      p.
        We help you gain financial stability & freedom by deploying pracitical tecniques to investing in the global finanical market (GFM).

    .row
      .col-1-of-3
        .service.service--investment
          figure.icon.icon--large
            img(src="assets/user-icon.png", alt="user icon")
          h3 Investment
          p
            | Invest and earn 28% on your investment monthly

            strong (Funds Management)
            |  or 17% every month for five(5) months. 
            strong (Lending Investment)
          a(href="/invest")
            button.btn--text Learn more
      .col-1-of-3
        .service.service--learn-forex
          figure.icon.icon--large
            img(src="assets/trading-icon.png", alt="trading icon")
          h3 Learn Forex
          p.

            Become a professional trader in the global financial market (GFM) at SU1trade.
          a(href) 
            button.btn--text Learn more
      .col-1-of-3
        .service.service--exchange
          figure.icon.icon--large
            img(src="assets/exchange-icon.png", alt="exchange icon")
          h3 Exchange
          p.
            SU1trade is a fast & reliable crypto platform developed to help users instantly add and withdraw funds.

          a(href)
            button.btn--text Learn more
  section.steps--section
    .row
      h2 Start building wealth
    .row
      .steps-shown__col
        .heading
          span.numbering.col-grey 1
          h3 Choose your choice of Investment
        .description
          p.secondary-desc.
            Choose an investment plan and instantly start your journey to financial freedom.

      .steps-shown__col
        .heading
          span.numbering.col-grey 2
          h3 Open an SU1trade account
        .description
          p.secondary-desc.
            Sign up for your free SU1trade account and follow our easy process to set up your profile.

      .steps-shown__col
        .heading
          span.numbering.col-grey 3
          h3 Fund the account with capital.
        .description
          p.secondary-desc.
            Choose your preferred payment method like bank transfer or credit card to fund your account.

      .steps-shown__col
        .heading
          span.numbering.col-grey 4
          h3 Get monthly Profits
        .description
          p.secondary-desc.
            Earn profits on your capital monthly with your investment 100% secured with you.

      a(href="/signup")
        button.btn--primary.btn--ripple.btn--large.

          Create an account

  section.why-su1trade--section
    .row
      h2 Why people from all over world choose SU1trade?
    .why-su1trade--wrapper
      .row
        .col-1-of-3
          .why-su1trade--details
            h3 Secure
            p.
              SU1trade platforms is where you can monitor the progress of your investment, and your capital is 100% secure with you.

          .why-su1trade--details
            h3 Reliable
            p.
              SU1trade is reliable as it is the only investment where you have your money in your possession and its making profit for you.

          .why-su1trade--details
            h3 Highly profitable
            p.
              SU1trade is highly profitable investment with minimum of 28% profit on your investment monthly.

  section.why-su1trade2--section
    .row
      h2 why you should start investing with SU1trade.
    .row
      .col-1-of-3
        .why-su1trade2--details
          figure.icon.icon--large
            img(src="assets/security-icon.svg", alt="security icon")
          h3 100% Security
          p.
            Investing in the global financial market (GFM) is the best online business. You can monitor your progress and your investment capital is 100% secured with you.

      .col-1-of-3
        .why-su1trade2--details
          figure.icon.icon--large
            img(src="assets/finanical-freedom-icon.svg", alt="finanical freedom icon")
          h3 It’s true Financal Freedom
          p.

            You don’t have to depend on a particular source of income, you can earn from multiple streams of income and become financial free.

      .col-1-of-3
        .why-su1trade2--details
          figure.icon.icon--large
            img(src="assets/make-money-anywhere-icon.svg", alt="infinity icon")
          h3 Make Money Anywhere
          p.

            No matter where you are, you can earn as much money as you want from forex investment, trading & buying crptocurrencies.

  section.testimonial--section.sp8
    .testimonial__caption
      h2.secondary-heading.

        Here’s what our customers have to say!

    .row
      .swiper-testimonial
        .swiper-wrapper
          .swiper-slide
            .testimonial
              blockquote.secondary-desc
                | SU1trade has change my life and the way I earn. I learnt forex trading from SU1trade Academy. And as I speak to you... I'm too good.

                cite
                  img(src="assets/customer_story_5.jpg")
                  span Mathew Okafor
          .swiper-slide
            .testimonial
              blockquote.secondary-desc
                | SU1Trade is easy to use. Easy to trade, It has the simplest interface of all and also has the fastest entry point into the market.

                cite
                  img(src="assets/customer_story_3.png")
                  span Joseph Clark
          .swiper-slide
            .testimonial
              blockquote.secondary-desc
                | SU1trade is a to platform that accommodates everyone that want to be successful in financial market. I recommend them anywhere.

                cite
                  img(src="assets/customer_story_6.jpg")
                  span Adogo Abraham
          .swiper-slide
            .testimonial
              blockquote.secondary-desc
                | SU1trade is a trusted partner in forex education, investment & mentoring. I have known them to be very consistent in delivering top-notch services to their customers

                cite
                  img(src="assets/customer_story_4.png")
                  span Daniel Stroiss
          .swiper-slide
            .testimonial
              blockquote.secondary-desc
                | SU1trade is the best place to be at this time, for total financial freedom and building wealth in hard currencies.

                cite
                  img(src="assets/customer_story_2.png")
                  span Godswill Eze
          .swiper-slide
            .testimonial
              blockquote.secondary-desc
                | I gave Su1trade a chance to prove to me that is real, and it is real!

                cite
                  img(src="assets/customer_story_7.jpg")
                  span Miranda Vincent
  section.cta--section
    .row
      .col-1-of-2
        .cta--copy
          h2 Are You Ready to Join?
          p.

            Remember our goal is to help you create wealth with the speed of the internet by leveraging on the power of the global financial market (GFM). Making you financially stable and free.

      .col-1-of-2
        .cta--btn
          a(href="/signup")
            button.btn--primary.btn--ripple.btn--large.

              Start Your Journey Now
