extends base

block navigation
  nav
    .row
      .nav.nav--bar.nav--main
        figure.logo
          a(href="/")
            img(src="assets/su1trade_logo.png", alt="brand logo")
        ul(data--js="menu--panel")
          li(data--js="menu--item")
            a(data--js="menu--link", href="/about") About us
          li(data--js="menu--item")
            a(data--js="menu--link", href="#") Learn
          li.active(data--js="menu--item")
            a.active(data--js="menu--link", href="/invest") Invest
          li(data--js="menu--item")
            a(data--js="menu--link", href="/exchange") Exchange
          li(data--js="menu--item")
            a(data--js="menu--link", href="/login") Sign in
          li(data--js="menu--item")
            a(data--js="menu--link", href="/signup") Sign up
        menu.icon.icon--small(data--js="mobile--menu")
          svg
            use(href="assets/sprite.svg#menu-alt")

block content
  header.header--investment
    .row
      .col-1-of-2
        .header--investment__text-box
          h1
            span.accent--dark Invest
            |  and Build Wealth.
          p Let your money walk you to financial freedom.
          button.btn--text Begin your Journey
  section.our-focus__section
    .row
      .col-1-of-2
        figure
          img(src="assets/macbook_mockup.png", alt="macbook pro 16 mockup")
      .col-1-of-2
        .our-focus__grid
          h2.mb2.col-grey
            |  Our 
            span.accent--dark goal
            |  is to help you

            span.accent--dark create wealth
            |  with the

            span.accent--dark speed
            |  of the

            span.accent--dark internet
            | .

          p.line-height.
            
            By leveraging on the power of the global financial market. Making you financially stable and free.
            
  section.how-it-works--section
    .row
      .how-it-works--caption
        h3.capitalized.capitalized--lite How it Works
        h2 Grow your money with compound interest
        p.
          
          You start by investing in any of our investment package, where we take things a step further by helping you earn interest on your invested funds.
          
    .row
      .col-1-of-2
        .how-it-works--investment-type
          h2
            span.accent--dark Lending
            |  Investment
          p.
            
            We believe in giving our investors the value of their investment. This plan is best for individuals who are looking for profitable ROI for a period of time.
            
          p.
            
            With this plan, you earn 17% of your investment every monthly for five (5) months. And on the sixth month, 70% of your investment capital is refunded to you and contract terminated or you renew contract.
            
          button.btn--primary.btn--ripple.btn--medium.
            
            Get Started
            
      .col-1-of-2
        .how-it-works--investment-type.mb0
          h2
            | Funds
            span.accent--dark  Management
          p.
            
            With our Funds Management Plans, SU1trade provides you with experts to manage your Investment. Here, we help you do the heavy work and provide you with real-time progress of your Investment very step of the way.
            
          p
            | Further more, we give you information on tools and strategies used in managing your investment and, all transactions are approved by you, which gives you 100% control over your investment with monthly earnings of 28% percent or more.
            br
            | Terms & Conditions Apply.

          button.btn--primary.btn--ripple.btn--medium.
            
            Get Started
            
  section.benefits--section
    .row
      h2 Benefits of our professionally managed funds
    .row
      .col-1-of-2
        .benefits--benefit
          h3 High ROI.
          p.
            
            You earn minimum of 28% or more of your investment on our Funds Management plans or 17% every month for five(5) months on our Lending Investment Plan.
            
        .benefits--benefit
          h3 No maintance fees.
          p.
            
            There are no hidden or extra charges for investment. All of our transactions and commissions are stated clearly for you at the very beginning.
            
        .benefits--benefit
          h3 Invest as you go.
          p.
            
            With our flexible investment plans (FIP), We've made it possible for anyone to invest a certain amount of your income and earn returns on a periodic basis.
            
      .col-1-of-2
        figure.benefits--img
          img(src="assets/benefits_image (2).png", alt)
  section.social-proof--section
    .row
      .col-2-of-3
        p
          span.large Over 1000+
          span.medium Investors & Traders
          span.small
            | builds wealth 
            span.accent--dark with us
      .col-1-of-3
        figure
          img(src="assets/our_investors.png", alt="poeple\'s avatars")
  section.testimonial--section
    .row
      .col-1-of-2
        figure.testimonial--img
          img(src="assets/customer_story_1.png", alt="customer image")
      .col-1-of-2
        .testimonial--wrapper
          blockquote.testimonial--customer-story
            | SU1trade is easy to use, easy to fund. It has the simplest interface of all and also has the fastest entry point into the market.

            cite
              h4 Joseph Clark
              span Hon. William Chuks
  section.cta--section-2
    .row
      .col-1-of-2
        .cta--copy.cta--copy-2
          p Try Su1trade Now.
          h2 Start investing in just 5 minutes.
      .col-1-of-2
        .cta--btn.cta--btn-2
          button.btn--primary.btn--ripple.btn--large.
            
            Start Your Journey Now
            
  section.FAQs__section
    .FAQs__caption
      h2 FREQUENTLY ASKED QUESTIONS
    .row
      .FAQs__accordion
        span.secondary-desc.FAQs__question What dose SU1trade do? 
        span.secondary-desc.FAQs__answer You can learn how to trade in the Global finanacail market (forex) here. You can be come a professional forex trader with SU1trade SUacademy.
      .FAQs__accordion
        span.secondary-desc.FAQs__question How can i invest with SU1trade? 
        span.secondary-desc.FAQs__answer You can invest in SU1trade and be making minimum of 28% on your investment monthly true SUfund managers.
      .FAQs__accordion
        span.secondary-desc.FAQs__question How secured is my investment with SU1trade? 
        span.secondary-desc.FAQs__answer You can be earning salary for life with our e-commerce (chymall) investment program. You can also exchange your e-correncis (Perfect money, Bitcoin etc.. true SUexchanger.
      .FAQs__accordion
        span.secondary-desc.FAQs__question What is your training all about? 
        span.secondary-desc.FAQs__answer We train you on online business, that is, how to make money with the internet of things There are three major focus on online business, this are the best profiting business, into the future and they keep developing.
      .FAQs__accordion
        span.secondary-desc.FAQs__question What other programs can i do in the SU1Trade platform? 
        span.secondary-desc.FAQs__answer
          | * Investment
          br
          | * Basic and advanced training in forex trading
          br
          | * E-commerce etc.
      .FAQs__accordion
        span.secondary-desc.FAQs__question How much can I invest at SU1Trade? 
        span.secondary-desc.FAQs__answer The minimum investment is $1000
      .FAQs__accordion
        span.secondary-desc.FAQs__question How much can I deposit as a personal forex trader at SU1Trade? 
        span.secondary-desc.FAQs__answer Actually,you can deposit any amount of money but it is advisable to deposit a minimum of $100.
      .FAQs__accordion
        span.secondary-desc.FAQs__question How long is the basic training? 
        span.secondary-desc.FAQs__answer The forex basic training at SU1Trade is a 2-weeks program with 1 month mentorship.
      .FAQs__accordion
        span.secondary-desc.FAQs__question How much is the basic training at SU1Trade? 
        span.secondary-desc.FAQs__answer The basic training costs 25,500 naira only.
      .FAQs__accordion
        span.secondary-desc.FAQs__question Is SU1Trade legit? 
        span.secondary-desc.FAQs__answer SU1Trade is a legit online trading and investment platform.
  section.telegram-community__section
    .row
      .telegram-community
        .telegram-community__cta
          a.btn--primary.btn--ripple.btn--large(href="http://T.me/SUcommunity") Join Telegram
        .telegram-community__desc
          p.secondary-desc.col-grey.
            
            Join over 1000+ members in our Telegram community.
            
