extends base

block content
  header.header--about
    canvas#canvas
    .header--about__text-box.header--about__text-box--2
      .row
        h1.primary-heading Legal License
        p.primary-desc.
          
          SU1trade is an e-business of SHERIF UNIVERSER SERVICES LTD, a duly registered firm with the Corporate Affair Commission (CAC) with RC 1639319.
        
  nav.nav--secondary
    .row
      ul.nav--secondary__list
        li.nav--secondary__item.disabled-bg
          a.nav--secondary__link(href="#")
            b Connect
        li.nav--secondary__item
          a.nav--secondary__link(href="/terms") Terms & Conditions
        li.nav--secondary__item
          a.nav--secondary__link(href="/privacy") Privacy Policy
        li.nav--secondary__item
          a.nav--secondary__link(href="/partners") Our Partners
        li.nav--secondary__item
          a.nav--secondary__link(href="/security") Security
  section.certification__section
    .certification
      figure
        img(src="assets/legal-certificate-img.png", alt="legal certificate photo")
      .certification__details
        p.secondary-desc.
          
          Su1trade is an e-business of SHERIF UNIVERSAL SERVICES LTD, a duly registered firm with the Corporate Affair Commission (CAC) with RC 1639319.
          