extends base

block content
  header.header--about
    canvas#canvas
    .header--about__text-box.header--about__text-box--2
      .row
        h1 Our Partners
        p.lg--copy.
          
          We’ve joined forces to provide you, trusted traders, with even more dynamic, in-depth market strategy for investment.
          
  main
    section.trusted-blockchain-wallet
      .row
        h2 Trusted Blockchain Wallets
      .row
        .partners--partner
          figure.partners--img
            img(src="assets/binance.png", alt="binance logo")
          .partners--details
            h2.secondary-heading BINANCE
            p.
              
              Binance Exchange is the largest crypto exchange by trade volume and one of the fastest in the world.
              
            a(href="https://www.luno.com/invite/6PHW5F", target="_blank")
              button.btn--text Learn More
        .partners--partner
          figure.partners--img
            img(src="assets/luno.png", alt="luno logo")
          .partners--details
            h2.secondary-heading LUNO
            p.
              
              The Luno team comes from a wide range of backgrounds in engineering, finance and industry, but all united in our passion to revolutionise the way people use money.
              
            a(href="https://www.luno.com/invite/6PHW5F", target="_blank")
              button.btn--text Learn More
      .row.mt104
        h2 Best Forex Brokers
      .row
        .partners--partner
          figure.partners--img
            img(src="assets/deriv.png", alt="Deriv logo")
          .partners--details
            h2.secondary-heading Deriv
            p.
              
              Deriv is a new and exciting digital options, FX and CFD broker launched in 2020 but with roots back in 1999. It is a new trading platform powered by Regent Markets Group, which successfully launched and operated BetonMarkets.com and Binary.com, two very well-known brokerages.
              
            a(href="https://track.deriv.com/_NBBuvzxp2yG2vdm9PpHVCmNd7ZgqdRLk/1/", target="_blank")
              button.btn--text Learn More
        .partners--partner
          figure.partners--img
            img(src="assets/rallytrade.png", alt="Rally Trade logo")
          .partners--details
            h2.secondary-heading RALLY TRADE
            p.
              
              RallyTrade is an international online broker providing highly competitive brokerage services to emerging financial economies. We infuse cutting edge technology, low transactional fees with an array of financial instruments to give you an unmatched trading experience.
              
            a(href="https://www.rally.trade/?utm_source=introducingbroker-387215", target="_blank")
              button.btn--text Learn More
        .partners--partner
          figure.partners--img
            img(src="assets/fxtm.png", alt="Forextime logo")
          .partners--details
            h2.secondary-heading FOREXTIME
            p.
              
              The FXTM brand is a global leader in online trading, bringing the opportunities of financial markets to global audiences, wherever they are and whatever their financial ambitions.
              
            a(href="http://forextime.com/?partner_id=4922604", target="_blank")
              button.btn--text Learn More
        .partners--partner
          figure.partners--img
            img(src="assets/fbs.png", alt="FBS logo")
          .partners--details
            h2.secondary-heading FBS
            p.
              
              FBS is an international broker with more than 190 countries of presence. 16 000 000 traders and 410 000 partners have already chosen FBS as their preferred Forex company.
              
            a(href="https://fbs.com/?ppu=2509238", target="_blank")
              button.btn--text Learn More
    section.affiliate-marketing--section
      .row
        h2 Su1trade Affiliate Programme
        p.
          
          Partner with us as an affiliate. Earn commission from the total net revenue of your referred clients’ on any of our investments.
          
        a(href="https://wa.me/message/JIJYS42CTYW5B1")
          button.btn--primary.btn--ripple.btn--medium.
            
            Join Now
            