doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    //- meta(http-equiv="Content-Security-Policy", content="default-src 'self' https://placeholder.com; img-src 'self' data:")
    title SU1trade - #{title}
    //  Fav Icons 
    link(rel="apple-touch-icon", sizes="180x180", href="../assets/favicon_io/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="../assets/favicon_io/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="../assets/favicon_io/favicon-16x16.png")
    link(rel="manifest", href="../assets/favicon_io/site.webmanifest")
    link(href="../css/main.css", type="text/css", rel="stylesheet")
  body
    //  preloader 
    .loader-container
      .loader.three-d-spinner
        .inner
        .inner
        .inner
    nav
      .row
        .nav.nav--bar.nav--main
          figure.logo
            img(src="../assets/su1trade_logo.png", alt="brand logo")
          ul(data--js="menu--panel")
            li(data--js="menu--item")
              a(data--js="menu--link", href="/about") About us
            li.active(data--js="menu--item")
              a.active(data--js="menu--link", href="/login") Sign in
            li(data--js="menu--item")
              a(data--js="menu--link", href="/signup") Sign up
          menu.icon.icon--small(data--js="mobile--menu")
            svg
              use(href="../assets/sprite.svg#menu-alt")
    //  Main site navigation ends here 
    section.create-account
      form.form#reset-password-form
        .form__caption
          h2.secondary-heading Reset Your Password
        .form__line
          span.primary-desc Enter new password
        .form-group
          input#password.form-group__input(type="password", name="password", placeholder=" ", autocomplete="off", required)
          label.form-group__label(for="password") Password
          span.pass-vis
            svg
              use(href="../assets/sprite.svg#eye-outline-reset")
        .form-group
          input#confirmPassword.form-group__input(type="password", name="confirmPassword", placeholder=" ", autocomplete="off", required)
          label.form-group__label(for="confirmPassword") Confirm password
          span.pass-vis
            svg
              use(href="../assets/sprite.svg#eye-outline-reset")
        .form-group.d-flex
          button.btn--primary.btn--ripple.btn--full-width.btn--medium.mb2(type="submit").
            
            Reset Password
            
        .form-group.d-flex
          p.secondary-desc
            | Don't have an account?

            span.accent
              a.accent(href="./signup.html") Sign up
    footer.footer
      .row
        .col-1-of-3
          img.footer__logo(src="../assets/su1trade_logo.png", alt="brand logo")
          p ©2020 SU1Trade.com. All rights reserved
          .social-media
            a.social-media__link(href="http://FACEBOOK.com/SU1TRADE", target="_blank")
              img(src="../assets/Facebook icon.svg", alt="facebook icon")
            a.social-media__link(href="#", target="_blank")
              img(src="../assets/Twiiter icon.svg", alt="twiiter icon")
            a.social-media__link(href="http://T.me/SUcommunity", target="_blank")
              img(src="../assets/Telegram icon.svg", alt="telegram icon")
            a.social-media__link(href="#")
              img(src="../assets/Instagram icon.svg", alt="instagram icon")
        .col-1-of-3
          .footer__nav
            ul.footer__list
              a.footer__link(href="./terms.html") Terms of use 
              a.footer__link(href="./license.html") Legal License 
              a.footer__link(href="./privacy.html") Privacy policy 
              a.footer__link(href="./security.html") Security 
            ul.footer__list
              a.footer__link(href="./partners.html") Partners 
              a.footer__link(href="./about.html") About Us
              a.footer__link(href="#") News 
              //  <a href="#" class="footer__link">Press Kit </a> 
        .col-1-of-3
          //  <p class="secondary-desc"></p> 
    //  Footer end here 
    //  <script src="./js/index.js"></script> 
    script(src="../js/build.js")
