extends base

block content 
  section.create-account
    form.form#signin-form
      .form__caption
        h2.secondary-heading Reset Your Password
      .form__line
        span.primary-desc Enter new password
      .form-group
        input#password.form-group__input(type="password", name="password", placeholder=" ", autocomplete="off", required)
        label.form-group__label(for="password") Password
        span.form__password-visibility
          svg
            use(href="assets/sprite.svg#eye-outline")
      .form-group
        input#confirmPassword.form-group__input(type="password", name="confirmPassword", placeholder=" ", autocomplete="off", required)
        label.form-group__label(for="confirmPassword") Confirm password
        span.form__password-visibility
          svg
            use(href="assets/sprite.svg#eye-outline")
      .form-group.d-flex
        button.btn--primary.btn--ripple.btn--full-width.btn--medium.mb2(type="submit").
          
          Reset Password
          
      .form-group.d-flex
        p.secondary-desc
          | Don't have an account?

          span.accent
            a.accent(href="./signup.html") Sign up
