extends base

block content
  header.header--about
    canvas#canvas
    .header--about__text-box.header--about__text-box--2
      .row
        h1.primary-heading Security
        p.primary-desc.
          
          Su1trade Ltd. gives general advice on doing business, which should not be considered as recommendation to achieve your personal financial goals.
        
  nav.nav--secondary
    .row
      ul.nav--secondary__list
        li.nav--secondary__item.disabled-bg
          a.nav--secondary__link(href="#")
            b Connect
        li.nav--secondary__item
          a.nav--secondary__link(href="/terms") Terms & Conditions
        li.nav--secondary__item
          a.nav--secondary__link(href="/privacy") Privacy Policy
        li.nav--secondary__item
          a.nav--secondary__link(href="/partners") Our Partners
        li.nav--secondary__item
          a.nav--secondary__link(href="/security") Security
  main
    section.about-us__section
      .about-us.about-us__row
        .about-us__title
          h2.secondary-heading Risk
        .about-us__desc
          p.secondary-desc.
            
            High risk Forex investment with leverage is associated with a high degree of risk and may not suit you personally.
            
          p.secondary-desc.
            
            You should carefully assess your financial goals, experience and willingness to take risks before you decide to invest foreign currencies, with the help of products and Su1trade services.
            
          p.secondary-desc.
            
            Su1trade Inc. gives general advice on doing business, which should not be considered as recommendation to achieve your personal financial goals.
            
          p.secondary-desc.
            
            The content of site should not be interpreted as personal advice. There always remains the possibility of partial or total loss of initial investment.
            
          p.secondary-desc.
            
            You should invest in global financial market, only those tools that you can afford to lose, without affecting your well-being. You must consider all the risks associated with marginal investment.
            
          p.secondary-desc.
            
            If you have any questions or concerns, Su1trade advises to consult an independent investment adviser. Market opinions of Su1trade any opinions, news, research and market analysis, pricing or any other information on this site is general and should not be considered as financial or investment recommendation.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Liability
        .about-us__desc
          p.secondary-desc.
            
            Su1trade Inc. does not assume any liability for losses and damages, including but not restricted to, lost profits, which may arise directly or indirectly from the use or abstinence of this information in any way. Internet Trading Risks associated with usage an Internet-based deal execution trading system including but not limited to, hardware malfunction, software failure, and communication failure.
            
          p.secondary-desc.
            
            Su1trade does not control signal profit power, reception quality and signal-routing resources on the Internet or on your network, as well as the configuration of communication equipment or reliability of connections.
            
          p.secondary-desc.
            
            Su1trade is not responsible for the crashes and rejections of communication systems, as well as distortions and delaying of information while investing via the Internet. Using a reservation system and other means of countering failure to reduce the possibility of disruptions and crashes of the investment system.
            
          p.secondary-desc.
            
            Su1trade also provides the ability to invest by conveying instructions via the phone, if the trading system is unavailable.
            