extends base

block content
  header.header--about
    canvas#canvas
    .header--about__text-box.header--about__text-box--2
      .row
        h1.primary-heading Terms and Conditions
        p.primary-desc.
          
          All visitors (hereinafter, “User(s)”, “You” or “Your”) to our Platforms are subject to the terms, conditions and notices set forth in these Terms and Conditions (the “Terms & Conditions”).
          
    nav.nav--secondary
      .row
        ul.nav--secondary__list
          li.nav--secondary__item.pdl0.disabled-bg
            a.nav--secondary__link(href="#")
              b Connect
          li.nav--secondary__item
            a.nav--secondary__link(href="/terms") Terms & Conditions
          li.nav--secondary__item
            a.nav--secondary__link(href="/privacy") Privacy Policy
          li.nav--secondary__item
            a.nav--secondary__link(href="/partners") Our Partners
          li.nav--secondary__item
            a.nav--secondary__link(href="/security") Security
  main
    section.about-us__section
      .about-us.about-us__row
        .about-us__title
          h2.secondary-heading Terms
        .about-us__desc
          p.secondary-desc
            | By accessing the website at

            a.accent--dark(href="https://su1trade.com") su1trade.com
            | , you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.

          p.secondary-desc.
            
            If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Use License
        .about-us__desc
          p.secondary-desc.
            
            Permission is granted to temporarily download one copy of the materials (information or software) on su1trade's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
            
          p.secondary-desc
            |  modify or copy the materials;
            br
            | use the materials for any commercial purpose, or for any public display (commercial or non-commercial); attempt to decompile or reverse engineer any software contained on su1trade's website;
            br
            | remove any copyright or other proprietary notations from the materials; or transfer the materials to another person or "mirror" the materials on any other server.

          p.secondary-desc.
            
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by su1trade at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Disclaimer
        .about-us__desc
          p.secondary-desc.
            
            The materials on su1trade's website are provided on an 'as is' basis. su1trade makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
            
          p.secondary-desc.
            
            Further, su1trade does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Limitations
        .about-us__desc
          p.secondary-desc.
            
            In no event shall su1trade or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on su1trade's website, even if su1trade or a su1trade authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Accuracy
        .about-us__desc
          p.secondary-desc.
            
            The materials appearing on su1trade's website could include technical, typographical, or photographic errors. su1trade does not warrant that any of the materials on its website are accurate, complete or current. su1trade may make changes to the materials contained on its website at any time without notice. However su1trade does not make any commitment to update the materials.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Modifications
        .about-us__desc
          p.secondary-desc.
            
            Su1trade may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
            
      .about-us__row
        .about-us__title
          h2.secondary-heading Governing Law
        .about-us__desc
          p.secondary-desc.
            
            These terms and conditions are governed by and construed in accordance with the laws of nigeria and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
            