<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SU1trade - Invest & earn minimum of 28% monthly.</title>
    <link href="css/main.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon_io/site.webmanifest" />
  </head>
  <body class="dashboardv2">
    <div class="loader-container">
      <div class="loader three-d-spinner">
        <div class="inner"></div>
        <div class="inner"></div>
        <div class="inner"></div>
      </div>
    </div>
    <nav id="nav--dashboardv2">
      <div class="row">
        <div class="nav nav--dashboardv2">
          <menu data--js="mobile--menuv2" class="icon icon--small"
            ><svg><use xlink:href="assets/sprite.svg#menu-alt-2"></use></svg
          ></menu>
          <figure class="nav--dashboard__logo logo">
            <img src="assets/su1trade_logo.png" alt="Brand logo" />
          </figure>
          <menu data--js="mobile--menuv2" class="icon icon--small"
            ><svg>
              <use xlink:href="assets/sprite.svg#notification-bell"></use></svg
          ></menu>
        </div>
      </div>
    </nav>
    <main class="main--dashboardv2">
      <div class="main--dashboardv2__sidebar">
        <ul data--js="menu--panelv2">
          <a href="dashboardv2.html"
            ><li data--js="menu--itemv2" class="active">
              <svg>
                <use xlink:href="assets/sprite.svg#ion_layers-outline"></use>
              </svg>
              <span>Invest</span>
            </li></a
          ><a href="https://wa.me/message/JIJYS42CTYW5B1"
            ><li data--js="menu--itemv2">
              <svg>
                <use
                  xlink:href="assets/sprite.svg#ion_chatbubbles-outline"
                ></use>
              </svg>
              <span>Chat</span>
            </li></a
          ><a href="about.html"
            ><li data--js="menu--itemv2">
              <svg>
                <use
                  xlink:href="assets/sprite.svg#ion_person-circle-outline"
                ></use>
              </svg>
              <span>About</span>
            </li></a
          ><a href=""
            ><li data--js="menu--itemv2">
              <svg>
                <use xlink:href="assets/sprite.svg#ion_log-out-outline"></use>
              </svg>
              <span>Logout</span>
            </li></a
          >
        </ul>
      </div>
      <div class="main--dashboardv2__main">
        <div class="main--dashboardv2__backward">
          <a href="dashboardv2.html"
            ><svg><use xlink:href="assets/sprite.svg#arrow-left"></use></svg
          ></a>
        </div>
        <div class="main--dashboardv2__details">
          <h3 class="main--dashboardv2__lending-title">Funds Management</h3>
          <figure>
            <img
              src="assets/Bitcoin _Monochromatic 1.png"
              alt="Bitcoin Monochromatic illustration"
            />
          </figure>
          <h2>
            Your money Protfit from investing in professionally managed funds.
          </h2>
          <p>
            With our Funds Management Plans, SU1trade provides you with experts
            to manage your Investment. Here, we help you do the heavy work and
            provide you with real-time progress of your Investment very step of
            the way.
          </p>
          <p>
            You have 100% control over your investment with monthly earnings of
            28% percent or more.
          </p>
          <p>
            <strong
              >Note: You pay SU1trade fund management 35% of profit made for
              you.</strong
            >
          </p>
          <div class="main--dashboardv2__metadata">
            <div class="main--dasboardv2__infolist">
              <div class="main--dashboardv2__infoitem">
                <span class="main--dashboardv2__infotitle">Profits</span>
                <span class="main--dashboardv2__info">28% monthly</span>
              </div>
              <div class="main--dashboard__infoitem">
                <span class="main--dashboardv2__infotitle">Duration</span>
                <span class="main--dashboardv2__info">Minimum variable</span>
              </div>
            </div>
            <div class="main--dasboardv2__infolist">
              <div class="main--dashboardv2__infoitem">
                <span class="main--dashboardv2__infotitle">Minimum amount</span>
                <span class="main--dashboardv2__info">$1000</span>
              </div>
              <div class="main--dashboard__infoitem">
                <span class="main--dashboardv2__infotitle">Commission</span>
                <span class="main--dashboardv2__info">35%</span>
              </div>
            </div>
          </div>
          <div class="main--dashboardv2__mt5-details">
            <p>
              Send your MetaTrader 5 (MT5) login details with the yellow button
              below if you already have one or
            </p>
            <p>
              Click on the link below to create a Deriv account. After creating
              your account, send your Deriv account details & your MetaTrader 5
              login details with the yellow button below.
            </p>
            <p>
              <a
                href="https://track.deriv.com/_NBBuvzxp2yG2vdm9PpHVCmNd7ZgqdRLk/1/"
                target="_blank"
                ><strong>Click here to create your Deriv Account:</strong>
                https://track.deriv.com/_NBBuvzxp2yG2vdm9PpHVCmNd7ZgqdRLk/1/</a
              >
            </p>
          </div>
          <div class="main--dashboardv2__btns">
            <a href="https://wa.me/message/JIJYS42CTYW5B1"
              ><button class="btn--full-width">Start Now</button></a
            >
          </div>
        </div>
      </div>
    </main>
    <script src="js/bundle.js"></script>
  </body>
</html>
