<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Su1trade | Invest</title>
    <link href="css/main.css" type="text/css" rel="stylesheet" />

    <!-- Fav Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon_io/site.webmanifest" />
  </head>
  <body>
    <!-- preloader -->
    <div class="loader-container">
      <div class="loader three-d-spinner">
        <div class="inner"></div>
        <div class="inner"></div>
        <div class="inner"></div>
      </div>
    </div>

    <!-- Main site navigation bar starts here-->
    <nav>
      <div class="row">
        <div class="nav nav--bar nav--main">
          <figure class="logo">
            <img src="assets/su1trade_logo.png" alt="brand logo" />
          </figure>

          <ul data--js="menu--panel">
            <li data--js="menu--item">
              <a data--js="menu--link" href="./about.html">About us</a>
            </li>
            <li data--js="menu--item">
              <a data--js="menu--link" href="#">Learn</a>
            </li>
            <li data--js="menu--item">
              <a data--js="menu--link" href="./investment.html">Invest</a>
            </li>
            <li data--js="menu--item">
              <a data--js="menu--link" href="./exchange.html">Exchange</a>
            </li>
            <li data--js="menu--item" class="active">
              <a data--js="menu--link" class="active" href="./signin.html"
                >Sign in</a
              >
            </li>
            <li data--js="menu--item">
              <a data--js="menu--link" href="./signup.html">Sign up</a>
            </li>
          </ul>

          <menu data--js="mobile--menu" class="icon icon--small">
            <svg>
              <use xlink:href="assets/sprite.svg#menu-alt"></use>
            </svg>
          </menu>
        </div>
      </div>
    </nav>
    <!-- Main site navigation ends here -->

    <!-- investment page header starts here -->
    <header class="header--investment">
      <!-- header-in-text-box start  here-->
      <div class="row">
        <div class="col-1-of-2">
          <div class="header--investment__text-box">
            <h1><span class="accent--dark">Invest</span> and Build Wealth.</h1>
            <p>Let your money walk you to financial freedom.</p>
            <button class="btn--text">Begin your Journey</button>
          </div>
        </div>
      </div>
      <!-- header-in-text-box ends here-->
    </header>

    <section class="our-focus__section">
      <div class="row">
        <div class="col-1-of-2">
          <figure>
            <img src="assets/macbook_mockup.png" alt="macbook pro 16 mockup" />
          </figure>
        </div>
        <div class="col-1-of-2">
          <div class="our-focus__grid">
            <h2 class="mb2 col-grey">
              Our <span class="accent--dark">focus</span> is to help you
              <span class="accent--dark">make money</span>
              with the <span class="accent--dark">speed</span> of the
              <span class="accent--dark">internet</span>.
            </h2>
            <p class="line-height">
              Our goal is to help you create wealth with the speed of the
              internet by leveraging on the power of the global financial
              market. Making you financially stable and free.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- investment page header ends here -->

    <section class="how-it-works--section">
      <div class="row">
        <div class="how-it-works--caption">
          <h3 class="capitalized capitalized--lite">How it Works</h3>
          <h2>Grow your money with compound interest</h2>
          <p>
            You start by investing in any of our investment package, where we
            take things a step further by helping you earn interest on your
            invested funds.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-1-of-2">
          <div class="how-it-works--investment-type">
            <h2>Funds<span class="accent--dark"> Lending</span></h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>

            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>

            <button class="btn--text">Get Started</button>
          </div>
        </div>
        <div class="col-1-of-2">
          <div class="how-it-works--investment-type mb0">
            <h2>Funds<span class="accent--dark"> Investment</span></h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>

            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>

            <button class="btn--text">Get Started</button>
          </div>
        </div>
      </div>
    </section>

    <section class="benefits--section">
      <div class="row">
        <h2>Benefits from our professionally managed funds</h2>
      </div>

      <div class="row">
        <div class="col-1-of-2">
          <div class="benefits--benefit">
            <h3>High ROI.</h3>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>

          <div class="benefits--benefit">
            <h3>No maintance fees.</h3>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>

          <div class="benefits--benefit">
            <h3>Invest as you go.</h3>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>

        <div class="col-1-of-2">
          <figure class="benefits--img"></figure>
        </div>
      </div>
    </section>

    <section class="social-proof--section">
      <div class="row">
        <div class="col-2-of-3">
          <p>
            <span class="large">Over 1000+</span>
            <span class="medium">Investors & Traders</span>
            <span class="small"
              >build’s wealth <span class="accent--dark">with us</span>
            </span>
          </p>
        </div>
        <div class="col-1-of-3">
          <figure>
            <img src="assets/our_investors.png" alt="poeple's avatars" />
          </figure>
        </div>
      </div>
    </section>

    <section class="testimonial--section">
      <div class="row">
        <div class="col-1-of-2">
          <figure class="testimonial--img">
            <img src="assets/customer_story_1.png" alt="customer image" />
          </figure>
        </div>
        <div class="col-1-of-2">
          <div class="testimonial--wrapper">
            <blockquote class="testimonial--customer-story">
              SU1trade is easy to use, easy to fund. It has the simplest
              interface of all and also has the fastest entry point into the
              market.

              <cite>
                <h4>Joseph Clark</h4>
                <span>Hon. William Chuks</span>
              </cite>
            </blockquote>
          </div>
        </div>
      </div>
    </section>

    <section class="cta--section-2">
      <div class="row">
        <div class="col-1-of-2">
          <div class="cta--copy cta--copy-2">
            <p>Try Su1trade Now.</p>
            <h2>Start investing in just 5 minutes.</h2>
          </div>
        </div>
        <div class="col-1-of-2">
          <div class="cta--btn cta--btn-2">
            <button class="btn--primary btn--ripple btn--large">
              Start Your Journey Now
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- FAQs section starts here -->
    <section class="FAQs__section">
      <div class="FAQs__caption">
        <h2>FREQUENTLY ASKED QUESTIONS</h2>
      </div>

      <div class="row">
        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            What dose SU1trade do?
          </span>
          <span class="secondary-desc FAQs__answer">
            You can learn how to trade in the Global finanacail market (forex)
            here. You can be come a professional forex trader with SU1trade
            SUacademy.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            How can i invest with SU1trade?
          </span>
          <span class="secondary-desc FAQs__answer">
            You can invest in SU1trade and be making minimum of 28% on your
            investment monthly true SUfund managers.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            How secured is my investment with SU1trade?
          </span>
          <span class="secondary-desc FAQs__answer">
            You can be earning salary for life with our e-commerce (chymall)
            investment program. You can also exchange your e-correncis (Perfect
            money, Bitcoin etc.. true SUexchanger.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            What is your training all about?
          </span>
          <span class="secondary-desc FAQs__answer">
            We train you on online business, that is, how to make money with the
            internet of things There are three major focus on online business,
            this are the best profiting business, into the future and they keep
            developing.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            What other programs can i do in the SU1Trade platform?
          </span>
          <span class="secondary-desc FAQs__answer">
            * Investment <br />
            * Basic and advanced training in forex trading <br />
            * E-commerce etc.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            How much can I invest at SU1Trade?
          </span>
          <span class="secondary-desc FAQs__answer">
            The minimum investment is $1000
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            How much can I deposit as a personal forex trader at SU1Trade?
          </span>
          <span class="secondary-desc FAQs__answer">
            Actually,you can deposit any amount of money but it is advisable to
            deposit a minimum of $100.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            How long is the basic training?
          </span>
          <span class="secondary-desc FAQs__answer">
            The forex basic training at SU1Trade is a 2-weeks program with 1
            month mentorship.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            How much is the basic training at SU1Trade?
          </span>
          <span class="secondary-desc FAQs__answer">
            The basic training costs 25,500 naira only.
          </span>
        </div>

        <div class="FAQs__accordion">
          <span class="secondary-desc FAQs__question">
            Is SU1Trade legit?
          </span>
          <span class="secondary-desc FAQs__answer">
            SU1Trade is a legit online trading and investment platform.
          </span>
        </div>
      </div>
    </section>
    <!-- FAQs section ends here -->

    <!-- telegram community starts here -->
    <section class="telegram-community__section">
      <div class="row">
        <div class="telegram-community">
          <div class="telegram-community__cta">
            <a
              href="http://T.me/SUcommunity"
              class="btn--primary btn--ripple btn--large"
              >Join Telegram</a
            >
          </div>
          <div class="telegram-community__desc">
            <p class="secondary-desc col-grey">
              Join over 1000+ members in our Telegram community.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- telegram community ends here -->

    <!-- modal starts here -->

    <div class="container backdrop">
      <!-- <div class="modal__container">
        <div class="modal__content">
          <span><img src="images/close-dark.svg" alt="close dark icon" /></span>
          <h2 class="secondary-heading">This is a modal heading 2</h2>
          <p class="secondary-desc">This is a modal</p>
          <button class="btn">Modal button</button>
        </div>
      </div> -->

      <!-- <div class="modal__popup popup-dark active">
        <div class="modal__content">
          <span><img src="images/close.svg" alt="close dark icon" /></span>
          <h2 class="secondary-heading">Congrats!</h2>
          <p class="secondary-desc">
            Your Registration was successful. We will contact you on how to
            begin investment with our partner broker Deriv.
          </p>
          <div class="modal__img">
            <img src="images/logo.png" alt="Deriv" />
          </div>
          <p class="secondary-desc">Click button to learn more</p>
          <button class="btn">
            <a href="./tutorial.html" target="_blank"> Learn More</a>
          </button>
        </div>
      </div>

      <div class="modal__overlay">&nbsp;</div> -->
    </div>
    <!-- modal ends here -->

    <!-- Footer starts here -->
    <footer class="footer">
      <div class="row">
        <div class="col-1-of-3">
          <img
            src="assets/su1trade_logo.png"
            alt="brand logo"
            class="footer__logo"
          />
          <p>&copy;2020 SU1Trade.com. All rights reserved</p>

          <div class="social-media">
            <a
              href="http://FACEBOOK.com/SU1TRADE"
              target="_blank"
              class="social-media__link"
            >
              <img src="assets/Facebook icon.svg" alt="facebook icon" />
            </a>

            <a href="#" target="_blank" class="social-media__link">
              <img src="assets/Twiiter icon.svg" alt="twiiter icon" />
            </a>

            <a
              href="http://T.me/SUcommunity"
              target="_blank"
              class="social-media__link"
            >
              <img src="assets/Telegram icon.svg" alt="telegram icon" />
            </a>

            <a href="#" class="social-media__link">
              <img src="assets/Instagram icon.svg" alt="instagram icon" />
            </a>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="footer__nav">
            <ul class="footer__list">
              <a href="./terms.html" class="footer__link">Terms of use </a>
              <a href="./license.html" class="footer__link">Legal License </a>
              <a href="./privacy.html" class="footer__link">Privacy policy </a>
              <a href="./security.html" class="footer__link">Security </a>
            </ul>

            <ul class="footer__list">
              <a href="./partners.html" class="footer__link"> Partners </a>
              <a href="./about.html" class="footer__link">About Us</a>
              <a href="#" class="footer__link">News </a>
              <!-- <a href="#" class="footer__link">Press Kit </a> -->
            </ul>
          </div>
        </div>
        <div class="col-1-of-3">
          <!-- <p class="secondary-desc"></p> -->
        </div>
      </div>
    </footer>
    <!-- Footer end here -->
    <script src="js/bundle.js"></script>
  </body>
</html>
