extends baseEmail

block content
  p Forgot your password?
  p Don't worry, we've got your back.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset password
  p If the link doesn't work, copy and paste the URL in your browser
  p #{url}.
  p If you didn't forget your password, please ignore this email!
  p The SU1trade Team
