.create-account {
  padding: 0 1.5rem;
}

.form {
  max-width: 45rem;
  margin: 5rem auto;
  padding: 3rem 2rem;
  // border-radius: 1rem;
  // box-shadow: 0px 10px 16px rgba(color(very-black), 0.08);
  background-color: neutral-colors-setup(color-white);

  // &--drop-shadow {
  //   box-shadow: 0px 10px 16px rgba(color(very-black), 0.08);
  // }

  &--mrgzero {
    @include respond(tab-port) {
      margin: 0 auto;
    }
  }

  &__caption {
    text-align: center;
    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 4rem;
    }
  }

  span {
    color: color(grey);
  }

  &__line::after {
    content: "";
    display: block;
    width: 100%;
    height: 2.5px;
    @include gradient(45deg);
    margin: 0.5rem 0 4rem;
  }

  &-group {
    position: relative;
    margin-bottom: 3.2rem;

    &__label,
    &__input {
      display: block;
      font-size: 1.6rem;
      font-family: "roboto", sans-serif;
    }

    &__label {
      position: absolute;
      top: 25%;
      left: 0;
      padding: 0 2rem;
      color: #ccc;
      transition: all 0.19s;
    }

    &__input {
      width: 100%;
      border: 1.6px solid #e6e6e6;
      // border-radius: 0.5rem;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      font-weight: 300;
      color: #888;
      outline: none;
      // transition: outline-color 0.5s;

      &:focus {
        border: 1.6px solid primary-colors-setup(primary-color-base-dark);
        outline: none;
      }

      &.error {
        border: 1.6px solid #e61e1e;

        &:focus {
          border: 1.6px solid #e61e1e;
        }
      }
    }

    &__input.error ~ .form-group__label {
      color: #e61e1e;
    }

    &__input.error:focus ~ .form-group__label {
      color: #e61e1e;
    }

    &__input::-webkit-inner-spin-button {
      display: none;
    }

    &__input:focus ~ .form-group__label {
      font-size: 1.2rem;
      top: -16%;
      left: 2rem;
      background-color: neutral-colors-setup(color-white);
      padding: 0;
      color: primary-colors-setup(primary-color-base-dark);
      z-index: 100;
      transition: all 0.1s;
    }

    &__input:not(:placeholder-shown).form-group__input:not(:focus)
      + .form-group__label {
      font-size: 1.2rem;
      top: -16%;
      left: 2rem;
      background-color: neutral-colors-setup(color-white);
      padding: 0;
      opacity: 1;
      z-index: 100;
    }

    &__checkbox {
      &:checked {
        background-color: primary-colors-setup(primary-color-base-dark);
      }
    }

    p {
      display: inline-block;
      font-size: 1.6rem;
      // color: primary-colors-setup(primary-color-base-light);
      margin-left: 1.5rem;

      @include respond(phone) {
        margin-left: 0;
        text-align: center;
      }
    }

    small {
      // visibility: hidden;
      font-size: 9px;
      position: absolute;
      bottom: -14px;
      padding: 0 0.8rem;
      left: 0;
      color: #e61e1e;
      // color: #c6e2ad;

      &.small {
        bottom: -24px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

#exchange-form {
  input {
    width: 60%;
    border: 1.6px solid #e6e6e6;
    // border-radius: 0.5rem;
    background: none;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #888;
    outline: none;
  }
}

#exchange-form > * {
  @include respond(tab-port) {
    width: 80% !important;
    margin: 0 auto;
  }

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

::-webkit-input-placeholder {
  color: #999999;
  font-size: 1.2rem;
}
