// Base

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // user-select: none;
  // -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #444444;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02rem;
}

h1 {
  font-size: clamp(2.4rem, 5.5vw, 6.4rem);
}

h2 {
  font-size: clamp(2.1rem, 2vw, 3.8rem);
}

h3 {
  font-size: clamp(1.8rem, 1.5vw, 2.8rem);
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: calc(1.6rem / 1.2048);
}

h6 {
  font-size: calc(1.4rem / 1.2388);
}

p {
  font-size: 1.6rem;
  line-height: 130%;
}

blockquote {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 130%;
}

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: theme-colors-setup(color-dark-gray);
  // transition: color 0.5s;
  -webkit-tap-highlight-color: transparent;
}

// a:hover::after {
//   height: 1.5px;
// }

button {
  font-size: 1.4rem;
  padding: 1rem 3.2rem;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #f2f2f2;
}

nav {
  padding: 1.6rem 0;
  background-color: neutral-colors-setup(color-white);
  position: relative;
}

header {
  background-color: neutral-colors-setup(color-black);
}

img {
  max-width: 100%;
}

video {
  width: 100%;
}

menu {
  cursor: pointer;
}

section {
  padding: 8rem 0;
}

caption {
  margin-bottom: 4.8rem;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: neutral-colors-setup(color-white);
}

.three-d-spinner {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  perspective: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:nth-child(1) {
      left: 0;
      top: 0;
      animation: rotate-one 1s linear infinite;
      border-bottom: 0.3rem solid #d99913;
    }

    &:nth-child(2) {
      right: 0;
      top: 0;
      animation: rotate-two 1s linear infinite;
      border-right: 0.3rem solid #d99913;
    }

    &:nth-child(3) {
      right: 0;
      bottom: 0;
      animation: rotate-three 1s linear infinite;
      border-top: 0.3rem solid #d99913;
    }

    @keyframes rotate-one {
      0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-two {
      0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-three {
      0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
    }
  }
}

.capitalized {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 160%;

  &--lite {
    font-weight: 400;
  }
}
