.mw50 {
  max-width: 49rem;
  @include respond(tab-port) {
    margin: 0 auto;
  }
}

// Margin utilty classes
.mb14 {
  margin-bottom: 14rem !important;

  @include respond(tab-port) {
    margin-bottom: 4rem !important;
  }
}

.mb6 {
  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.mb2 {
  margin-bottom: 2rem;
}

.neg-mg {
  margin-top: -20rem;
}

.mb4 {
  margin-bottom: 4rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

// Padding utility
.pdl0 {
  padding-left: 0;
}

.pd1 {
  padding: 1rem;
}

.pd {
  padding: 8rem 0;
}

.pd-cntr {
  padding: 10rem 12rem 10rem 0;
}

.pdr {
  padding-right: 12rem;
}

// Flex-box Utility classes
.flex {
  display: flex !important;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    align-items: flex-start;
  }
}

.d-flex--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column-reverse {
  @include respond(tab-port) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.no-flex {
  display: block;
}

// Color utility classes

.accent {
  color: primary-colors-setup(primary-color-base-light) !important;
}

.accent--dark {
  color: primary-colors-setup(primary-color-base-dark) !important;
}

.col-grey {
  color: theme-colors-setup(color-dark-gray);
}

.color-grey {
  color: theme-colors-setup(color-dark-gray);
}

// .orwhite {
//   color: color(very-whyte);
// }

// background color utility classes

.bg-white {
  background-color: color(very-whyte);
}

.no-bg {
  .img-overlay {
    display: none;
  }

  @include respond(port-height) {
    height: auto;
  }

  @include respond(tab-land) {
    padding: 0;
  }
}

// typography utility classes

.align-left {
  text-align: left;
  max-width: 80%;
}

.line-height {
  line-height: 1.5;
}

.absolute {
  position: absolute;

  @include respond(tab-port) {
    position: relative;
  }
}

.relative {
  position: relative;
}

.uti-primary-heading {
  @include respond(phone) {
    font-size: 3.6rem;
    text-align: center;
    margin-top: 4rem;
    padding: 0;
  }
}

$margin: 8px;
$padding: 8px;

@for $i from 1 through 12 {
  .uti-mb-#{$i} {
    margin-bottom: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-mt-#{$i} {
    margin-top: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-mr-#{$i} {
    margin-right: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-ml-#{$i} {
    margin-left: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-margin-#{$i} {
    margin: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-pdin-#{$i} {
    padding: $padding * $i;
  }
}

@for $i from 1 through 12 {
  .uti-pdtb-#{$i} {
    padding: #{$padding * $i} 0;
  }
}

@for $i from 1 through 12 {
  .uti-pdlr-#{$i} {
    padding: 0 #{$padding * $i};
  }
}

.mobile-menu.active {
  height: 100vh;
}

.disabled-bg {
  border-right: 2px solid neutral-colors-setup(color-black);
  margin-right: 6rem !important;

  .nav--secondary__link {
    color: neutral-colors-setup(color-black) !important;
    background: primary-colors-setup(primary-color-base-light) !important;
  }

  // color: none !important;
}
