.btn {
  display: inline-block;
  font-size: font(inline-link);
  font-family: "roboto", sans-serif;
  font-weight: 500;
  padding: 1.3rem 3.2rem;
  @include gradient(45deg);
  color: color(very-whyte);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  outline: none;
  transition: all 5s;

  &--full {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  &--ghost {
    background: none;
    border: 1.5px solid color(dark-yellow);
    transition: all 0.2s;

    &:hover {
      @include gradient(45deg);
    }
  }

  @include respond(phone) {
    font-size: 2rem;
  }
}
