.row {
  max-width: gap(grid-width);
  margin: 0 auto;
  //background-color: red;

  &:not(:last-child) {
    margin-bottom: gap(gutter-vertical);

    @include respond(tab-port) {
      margin-bottom: gap(gutter-vertical-small);
    }
  }

  @include respond(tab-port) {
    max-width: 90%;
    padding: 0 3rem;
  }

  @include respond(phone) {
    max-width: 100%;
    padding: 0 2rem;
  }

  //@include flex();
  @include clearfix;

  // [class^="col-"] {
  //   @include grid(3, 5%);
  //   background-color: yellow;

  //   @include respond(phone) {
  //     width: 100%;
  //   }
  // }

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: gap(gutter-horizontal);
      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: gap(gutter-vertical-small);
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{gap(gutter-horizontal)}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{gap(gutter-horizontal)}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{gap(gutter-horizontal)}) / 3) + #{gap(
          gutter-horizontal
        )}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{gap(gutter-horizontal)}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{gap(gutter-horizontal)}) / 4) + #{gap(
          gutter-horizontal
        )}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{gap(gutter-horizontal)}) / 4) + 2 * #{gap(
          gutter-horizontal
        )}
    );
  }
}

// $columns: 12;

// @for $i from 1 through $columns {
//   .col-#{$i} {
//     flex: 0 0 100% / $columns * $i;
//     background-color: yellow;
//   }
// }
