.header {
  background-color: color(very-black);
  position: relative;
  overflow: hidden;

  @include respond(port-height) {
    height: 100vh;
  }

  @include respond(tab-land) {
    padding: 0 3rem 10rem;
  }

  &-nr,
  &-in {
    background-color: color(very-black);
  }

  &-in {
    max-height: 65vh;
    // min-height: 65vh;
  }

  .img-overlay {
    background-image: url(../images/bg-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    @include respond(phone) {
      background-image: url(../images/bg-mobile.png);
    }
  }

  .top-navigation {
    position: relative;
    z-index: 100;
  }
}
